
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background: #E5E5E5;
  font-family: 'inter';
  
}

 
/* scrollbar edit start */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* scrollbar edit end */



/* header start */

.header_wrapper {
  background: white;
  height: 90px;
  position: fixed !important;
  top: 0;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.search_bar {
  position: relative;
}

.inner_search{
  position: relative;
  border: 1px solid red;
  
}

.inner_search i{
  position: absolute;
  top: 38px;
  left: 345px;
}

.search_bar input {
  width: 600px;
  position: absolute;
  top: 20px;
  left: 330px;
  outline: none;
  border: none;
  background: #f3f3f5;
  padding: 5px 20px;
  border-radius: 50px;
  height: 50px;
  font-size: 18px;
  padding-left: 40px;
}

.user_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_login .user_logo p {
  background: #ffae00;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 13px;
  cursor: pointer;
}

.notification i {
  margin-left: -35px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: rgb(223, 217, 217);
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification i:hover {
  background: rgb(202, 197, 197);
  padding: 10px;
  border-radius: 50%;
}





.user_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_logo_box {
  background: #ffae00;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
  margin-top: 7px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_logo_box_items {
  position: absolute;
  width: 200px;
  background: white;
  top: 60px;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  right: 0px;
  border-radius: 0px 0px 12px 12px;
  visibility: hidden;
  transform-origin: top;
  transition: all 0.4s ease-in-out;
  transform: scaleY(0);
}

.user_logo_box:hover .user_logo_box_items {
  visibility: visible !important;
  transform: scaleY(1);
}

.user_logo_box_items li {
  list-style-type: none;
  color: #11211d;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  color: #101d1a;
  padding-left: 20px;
  transition: all 0.2s ease-in-out;
}
.user_logo_box_items li:hover {
  background: #f5eeee;
}
.sign_out_icon {
  margin-left: 60px;
}

/* togle item */

.cammeron_toogle{
  position: relative;
  background: #F4F2F2;
  border-radius: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 40px;
  border-radius: 50%;
  
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* togle item */

.notification .bell_icon {
  left: -10px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: rgb(223, 217, 217);
  padding: 5px 6px 6px 7px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  position: relative;
}

.notification_item {
  visibility: hidden;
  position: absolute;
  left: -180px;
  top: 55px;
  padding: 20px;
  border-radius: 0px 0px 12px 12px;
  width: 225px;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  transform-origin: top;
  transition: all 0.4s ease-in-out;
  transform: scaleY(0);
  overflow-y: auto;
  height: 500px;
}

.notification .bell_icon:hover .notification_item {
  visibility: visible;
  transform: scaleY(1);
}

.notification_item h5 {
  font-family: Arial;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.notification_item p {
  color: #11211d;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.notification_item span {
  border-bottom: 1px solid #afa9a9;
  margin-bottom: 10px;
  display: block;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #11211d80 !important;
  padding-bottom: 10px;
}

.bell_icon:hover {
  background: rgb(202, 197, 197);
  border-radius: 50%;
}







/*---------------sidebar Start-------------*/

.sidebar {
  height: 100vh;
  position: fixed;
  background: #232530;

  width: 240px;
  transition-duration: 0.5s;
  z-index: 2000;
  left: 0px;
  top: 0px;
  font-weight: bold;
  bottom: 0;
  overflow: hidden;
  font-family: 'Inter';

}

.sidebar:hover {
  overflow-y: auto;
}

.sidebar_logo {
  background:#232530;

  z-index: 5;
}

.sidebar_logo {
background: #232530;
  width: 220px;
  position: fixed;
  margin-bottom: 15px;

}

.sidebar_logo img {
  width: 180px;
  margin-top: 10px;
  margin-left: 30px;
}

.sidebar_ul li{
  position: relative;
  margin-bottom: 5px;
}

/* .sidebar_ul li .sidebar_black_icons{
  margin-left: 20px;
  margin-right: 10px;
}

.sidebar_white_icons{
  display: none;
  margin-left: 20px;
  margin-right: 10px;
}

.sidebar_ul li:hover .sidebar_white_icons{
  display: inline-block;
}
.sidebar_ul li:hover .sidebar_black_icons{
  display:none;
} */


.sidebar ul li a {
  color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
  line-height: 45px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  margin-left: 20px;
  
}
.iconify{
  font-size: 23px;
  top: 30px;  
  line-height: 4px;
  margin-bottom: -5px;
}

.sidebar ul li:first-child {
  margin-top: 68px;
}

.sidebar a:hover {
  text-decoration: none;
  color: #000000;
}

.sidebar a:hover::after {
  content: "";
  height: 20px;
  width: 2px;
  background: #000000;
  position: absolute;
  top: 12px;
  right: 10px;
  border-radius: 5px;
}

.blackIcon{
  display: none;
  margin-bottom: -6px;
}
.whiteIcon{
  margin-bottom: -6px;
}
.sidebar_ul li:hover .blackIcon{
  display: inline-block;
  
}
.sidebar_ul li:hover .whiteIcon{
  display: none;

}


#check {
  display: none;
}

label #bars,
label #close {
  position: absolute;
  padding: 15px;
  transition-duration: 0.5s;
  cursor: pointer;
}

label #bars {
  left: 10px;
  top: 20px;
  position: fixed;
  background: none;
  width: 50px;
  color: rgb(2, 2, 2);
  padding: 10px;
  font-size: 26px;
  z-index: 98;
  padding: 10px;
  display: none;
}

label #close {
  top: 12px;
  z-index: 10;
  opacity: 0;
  color: black;
  position: fixed;
  /* left:190px; */
  left: 5px;
}

#check:checked ~ .sidebar {
  left: 0px;
}

#check:checked ~ label #bars {
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #close {
  position: fixed;
  z-index: 105000;
  opacity: 1;
}

.sidebar li {
  transition-duration: 0.5s;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}

.sidebar li:hover {
  background: #5160ac;
  border-radius: 10px;
  margin-left: 10px;
}

.collapse-item-sidebar li a {
  
  padding-left: 10px;
  border-bottom: 1px dotted lightgray;
  width: 90%;
  color: #555;
  font-size: 15px;
  font-family: "robto";
  border-radius: 5px;
  background: transparent;
}
/* Style the active class, and buttons on mouse-over */
.active {
  background: #5160ac;
  color: rgb(0, 0, 0);
 border-radius: 10px;
} 

.active::after{
  content: "";
  height: 20px;
  width: 2px;
  background: #000000;
  position: absolute;
  top: 12px;
  right: 10px;
  border-radius: 5px;
}

.active a{
  color: rgb(0, 0, 0)!important;
}



.collapse-item-sidebar li a:hover {
  background: rgb(247, 240, 240);
}


@media screen and (max-width:1220px) {
  .sidebar{
    left: -500px;
  }

  label #bars{
    display: block;
  }

  .search_bar input{
    width: 600px;
    left: 80px;
  }

  .main_body{
    margin-left: 0px;
  }

  .inner_search i{
    left: 95px;
  }

 
}

@media screen and (max-width:790px) {
  .search_bar input{
    width: 400px;
    left: 80px;
  }


}

@media screen and (max-width:580px) {
  .search_bar input{
    width: 300px;
    left: 80px;
  }
}

@media screen and (max-width:480px) {
  .search_bar input{
    width: 250px;
    left: 60px;
  }

  .inner_search i{
    left: 76px;
  }

  .user_login .user_logo p{
    width: 30px;
    height: 30px;
  }

}


@media screen and (max-width:385px) {
  .search_bar input{
    width: 200px;
    left: 60px;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
  }

}





/*---------------sidebar End----------------*/







/* main-body-div */
.main-body{
  margin-left: 240px;
  margin-top: 120px;
}

.containerr{
    margin-left: 48px;
    margin-right: 20px;
   
    margin-bottom: 20px;
}


@media screen and (max-width:1200px) {

.main-body{
  margin-left: 0px;

}

}

@media screen and (max-width:800px) {
  .containerr{
    margin-left: 20px;
  }
}



/* frist_section_heading */

.frist_section_head button{
  padding: 11px 30px;
  border: none;
  border-radius: 5px;
  font-family:'Roboto';
  font-size: 18px;
  font-weight: 600;
  background: radial-gradient(425.89% 101.48% at 50% 6.49%, rgba(0, 13, 133, 0.3) 0%, rgba(112, 17, 206, 0.3) 22.57%, rgba(255, 93, 83, 0.3) 65.23%, rgba(245, 249, 90, 0.3) 100%);
  color: white;

}


.frist_section_head select{
  background-color:  #232530;
  color:#FFFFFF;
  padding: 9px 20px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
  position:absolute;
  right: 50px;
  cursor: pointer;
}







/* dashboard styles */

/* dashboard frist */

.sentiment{
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%);

    margin-top: 15px;
    min-height: 400px;
    padding: 20px ;
    border-radius: 15px;
}

.sentiment h3{
  font-size: 18px;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  

}

.wrapperMainDoughnet{
    
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.sideWith{
  position: absolute;
}

.positive{
  position: absolute;
  margin-top: -41px;
  margin-left: -133px;
  font-size: 12px;
  color: rgb(255, 250, 250);
  font-family: 'Roboto';
 
}

.negative{
  position: absolute;
  margin-top: -39px;
  margin-left: 91px;
  font-size: 11px;
  color: rgb(255, 249, 249);
  font-family: 'Roboto';
 
}

.sideWith img{
  position: absolute;
  transform: rotate(7deg);
  margin-left: -160px;
  margin-top: 31px;
  
}
  


.sideWidthBold {
  color: rgb(255, 255, 255);
  z-index: 1;
  position: absolute;
  margin-top: 60px;
  margin-left: -116px;
  font-family: 'Roboto';
    
  }








/* user activity */
.userActivity{
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%);
  padding: 10px;
  min-height: 400px;
  margin-top: 15px;
  border-radius: 15px;
}

.userActivity_head h3{
  font-size: 18px;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-family: 'Roboto';
}




.user_70th_btn{
  margin-top: 30px;
  margin-bottom: 37px;
   display: flex;
   justify-content: center;
   margin-left: 70px;
   
 }
 
 .user_70th_btn button{
  border: none;
   padding: 8px;
   border-radius: 15px;
   background-color:#4a4d4ddc;
   font-family: 'Inter';
   color: #ffffffbe;
 
 }
 
 
 
 .User_img1{
   position: absolute;
   margin-left: -66px;
   margin-top: 71px;
   color: #0170B9;
   background-color: #0170B9;
   z-index: 2;
 }
 
 .User_img2{
   position: absolute;
   margin-left: -63px;
   margin-top: 74px;
 }
 
.user_line{
  position: absolute;
  margin-top: 65px;
  margin-left: -50px;
  height: 174px;
}


.wrappermainBarChart{
  justify-content: center;
  display: flex;
  align-items: center;
}








.second_chart_b{
  font-family: 'Roboto';
  color: #949494;
  font-size: 14px;
  font-weight: 400;
}









/* latest Section */

.latest_data_section{
  background: linear-gradient(180deg, #222530 0%, rgba(34, 37, 48, 0) 100%) ;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.latest_head h3{
  font-size: 18px;
  color: rgb(248, 248, 248);
  font-weight: 700;
  margin-top: 15px;
  font-family: 'Inter';
}




.latest_content{
  display: flex;
}

.latest_content p{
color: #464646;
margin-top: 15px;
font-family: 'Inter';
font-size: 13px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;


}



.latest_arrow{
  margin-right: 20px;
}







/* heder rectangle start */



.restangle_head{
  background-color: #1C1C24;
  margin-top: 20px;
  padding: 15px;
}

.restangle_head h3{
  color:#ffffff
  ;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
}




.restangle_head button{
  background-color: #5160AC;
  color: white;
  padding: 8px 18px;
  margin-left: 10px;
  border: none;
  border-radius: 7px;
  font-family: 'Inter';
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
}


.restangle_head select{
  background-color: #232530;
  color:rgb(192, 188, 188);
  padding: 9px;
  font-size: 13px;
  border: none;
  border-radius: 6px;
  position:absolute;
  right: 50px;
  cursor: pointer;
 
}


















/* dashboard styles */









































.dashboard_head{
  background: rgba(255, 255, 255, 1);
  position: relative;
  margin-top: 110px;
 
}

.dashboard{
  background: rgba(255, 255, 255, 1);
  position: relative;
  

}



.dashboard table thead tr th{


  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;

 color: rgba(0, 0, 0, 0.877);
text-align: center;

}

.dashboard table tbody tr th{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #808A9D;

}
.dashboard table tbody tr th img{
  margin-left: 50px;
  width: 20px;
}




.dashboard table tbody tr td{
  font-family: 'Inter';
font-weight: 500;
font-size: 14px;
line-height: 22px;
height: 60px;
color: #e0dddd;


}


@media screen and (max-width:800px) {
  .dashboard table tbody tr th i{
    margin-left: 0px;
    
    display: none;
  }
  .dashboard table tbody tr th img{
    margin-left: 2px;
    width: 8px;
  }
  
}



/* table sentiment */
.sentiment_wrapper {
  display: flex;
}

.red_sentiment {
  background: #ea3943;
  border-radius: 10px 0px 0px 10px;
  height: 15px;
  width: 40px;
}
.green_sentiment {
  background: #16c784;
  border-radius: 0px 10px 10px 0px;
  height: 15px;
  width: 40px;
}

.gray_parsent {
  background: #dedede;
  height: 15px;
  width: 15px;
  position: relative;
  cursor: pointer;
}

.gray_parsent_indicator {
  content: "15%";
  background-color: #dedede;
  height: 33px;
  width: 53px;
  position: absolute;
  top: 25px;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  font-weight: bold;
  color: black;
  font-family: "Open Sans";
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.gray_parsent:hover .gray_parsent_indicator {
  visibility: visible;
}

.gray_parsent_indicator::after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  top: -5px;
  left: 22px;
  background: #dedede;
  border-radius: 2px;
  transform: rotate(-45deg);
}
/* table sentiment */







@media screen and (max-width:800px) {
  .dashboard {
    height: 600px;
    overflow: scroll;
  }
  .dashboard table thead tr th{
    font-size: 13px;
  }

  .dashboard table tbody tr th{
    font-size: 10px;
  }
  .dashboard table tbody tr td{
    font-size: 10px;
  }
}







/* dashboard pagianton */
.dashboard_pagination{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 50px;
  margin: 5px;
}

.dashboard_pagination p{
 
  color: black;
  
font-family: 'Inter';

font-weight: 600;
font-size: 14px;
line-height: 24px;
}

.pagination_item li{
  display: inline;
  list-style-type: none;
  margin: 5px;
  color: #000000;
}

.pagination_item li a{
  text-decoration: none;
  color:#000000;
  border-radius: 10%;
  padding: 5px 10px;
  transition: all .3s ease-in-out;
}

/* .pagination_item li a:first-child{
  background: #5160AC;
  color: white;

} */
.pagination_item li a:hover{
  background: #5160AC;
  color: white;

}



.dashboard_pagination select{
  font-size: 15px;
  font-family: 'Inter';
  padding: 10px;
  background-color: #232530;
  border: none;
  border-radius: 10px;
  margin-top: -20px;
  
 
}

.dashboard_pagination select option{
  color: white;
}




@media screen and (max-width:800px) {
  .dashboard_pagination p{
    display: none;

  }
  .dashboard_pagination select{
    display: none;
  }
  .dashboard_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination_item li{
    margin-left: 0px;
   
  }
  .pagination_item li a{
    padding: 4px;
  }
}


/* dashboard pagianton */









/* footer start  */
.footer {
  background: white;
  padding: 5px;
  margin-left: 240px;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_social {
  display: flex;
}
.footer_social i {
  color: #c4bebe;
  margin-right: 8px;
}

.footer_social {
  display: block;
}


@media screen and (max-width:900px) {
  .footer{
    margin-left: 0px;
  }
  
}

@media screen and (max-width:1320px) {
  .footer_wrapper{
    display: block;
    text-align: center;
  }
}

/* footer end  */





/* media query for phone responsive */

@media screen and (max-width:1020px) {

  .sidebar{
    left: -500px;
  }

  label #bars{
    display: block;
  }

  .search_bar input{
    width: 600px;
    left: 80px;
  }

  .main_body{
    margin-left: 0px;
  }

  .inner_search i{
    left: 95px;
  }
  .footer_wrapper{
    display: block;
    text-align: center;
  }
 
}

@media screen and (max-width:790px) {
  .search_bar input{
    width: 400px;
    left: 80px;
  }


}

@media screen and (max-width:580px) {
  .search_bar input{
    width: 300px;
    left: 80px;
  }
}

@media screen and (max-width:480px) {
  .search_bar input{
    width: 250px;
    left: 60px;
  }

  .inner_search i{
    left: 76px;
  }

  .user_login .user_logo p{
    width: 30px;
    height: 30px;
  }

}


@media screen and (max-width:385px) {
  .search_bar input{
    width: 200px;
    left: 60px;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
  }

}





/* dashboard charts styles end */
